<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="header">
    <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
        <div style="width: 1%; float: left;">
            <a th:href="@{/}">
                <img src="/img/logo.png" alt="Leroy Merlin" style="width: 80px" />
            </a>
        </div>
        <nav class="heading-4 align-center capitalize" style="width: 99%; float: right; margin-top: 20px;">
<!--            <a href="/orders" th:href="@{/orders}">Pedidos</a>
            <a href="/offers" th:href="@{/offers}">| Ofertas</a>
            <a href="/products" th:href="@{/products}">| Produtos</a>
            <a href="/categories" th:href="@{/productBanks}">| Bancos de Produto</a>
            <a href="/shops" th:href="@{/shops}">| Lojas</a>
            <a href="/invoices" th:href="@{/invoices}">| Repasses</a>
            <a href="/refunds" th:href="@{/refunds}">| Reembolsos</a>
            <a href="/kafka/events" th:href="@{/kafka/events}">| Eventos Kafka</a>
            <a href="/mirakl/front/events" th:href="@{/mirakl/front/events}">| Eventos Front Mirakl</a>
            <a href="/mirakl/shop/events" th:href="@{/mirakl/shop/events}">| Eventos Shop Mirakl</a>
            <a href="/users" th:href="@{/users}" sec:authorize="hasRole('ADMIN')">| Usuários</a>-->
        </nav>
    </div>
</th:block>
</body>
</html>